#App url
APP_URL=https://www.saucedemo.com/

#User Credentials
APP_USERNAME=your_username
APP_PASSWORD=your_password

#Timeouts
TIMEOUT=10000
SHORT_TIMEOUT=5000
LONG_TIMEOUT=20000
VERY_SHORT_TIMEOUT=1000